@font-face {
    font-family: "merriweather";
    font-size: 48px;
    font-weight: bold;
    src: url("fonts/Merriweather-Light.ttf") format("opentype");
}

@font-face {
    font-family: "montserrat";
    font-size: 48px;
    font-weight: bold;
    src: url("fonts/MontserratAlternates-Bold.otf") format("opentype");
}

@font-face {
    font-family: "kaushans";
    font-size: 48px;
    font-weight: bold;
    src: url("fonts/KaushanScript-Regular.otf") format("opentype");

}

@font-face {
    font-family: "opensans";
    font-size: 48px;
    font-weight: bold;
    src: url("fonts/OpenSans-Bold.ttf") format("opentype");
}
@font-face {
    font-family: "sketchzone";
    font-size: 48px;
    font-weight: bold;
    src: url("fonts/Sketchzone.otf") format("opentype");
}
@font-face {
    font-family: "satisfy";
    font-size: 48px;
    font-weight: bold;
    src: url("fonts/Satisfy-Regular.ttf") format("opentype");
}
@font-face {
    font-family: "digital";
    font-size: 48px;
    font-weight: bold;
    src: url("fonts/DS-DIGIB.TTF") format("opentype");
}
body{
    background-color:#136F63 ;
    width: 100%;
    align-content: center;
    
}
.description {
    font-family:"satisfy";
    color:white
}
h1 {
    text-align: center;
    font-family: "sketchzone";
    font-size: 80px;
    color:white;

}
.container {
    background-color: #041B15;
    padding: 5px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    border-radius: 25px;
    border:15px solid #133C55;
    width: 1811px;
    

}
h3{ 
    border-radius: 25px;
    border :15px solid black;
    font-family: "merriweather";
    font-size: 30px;
    background-color: #FFD166;
    margin: 10px;
    width:1801px;
}
nav {

    width: 100%;
    max-width: 1000%;
    margin: 0%;
}
nav ul {
    list-style:none;
    display: flex;
    padding: 0%;
}
a {
    
    font-family: "lmroman12";
    font-size: 25px;
    text-decoration: none;
    color: white;
}
.digital{
    font-family: "digital";
    
}
.title{
    font-weight: bolder;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    
}