{% extends "base.html" %}

{% block body %}



<header>
    <h1>HISTORIA</h1>
    <h1 class="description">
        Bienvenue à Historia!
    </h1>
{% if login %}
{{login}}
{%endif%}
    <nav class="container">

        <ul>
            <li><a href="inscription">Créer un compte</a></li>
        </ul>
            <p>Blog</p>
        <ul>
            <li><a href="connexion">Connecter</a></li>
            
        </ul>
    </nav>
 
    {%for elmt in articles %}
        <a href="article/{{elmt['titre']}}">{{elmt["titre"]}}</a>     
    {% endfor %}
</header>
{% endblock %}


