{% extends "base.html" %}

{% block body %}

<body>
    <h1>HISTORI.A</h1>
    <h1 class="description">
        Bienvenue à Histori.a : blog d'articles scientifique !
    </h1>



    <nav class="container">
        {% if login[0] %}
        
        <ul>
            <li>Bienvenue {{login[0]}}</li>
        </ul>
            {%if login[1] %}
            <ul>
                <li><a href="administration_creation">Création</a></li>
            </ul>
            <ul>
                <li><a href="administration_modification">Modficiation</a></li>
            </ul>
            <ul>
                <li><a href="moderation_commentaire">Commentaire</a></li>
            </ul>
            <ul>
                <li><a href="/logout">Deconnexion</a></li>
            </ul>            
            {%endif%}
        {%else%}
        <ul>
            <li><a href="connexion">CONNEXION</a></li>
        </ul>
        <ul>
            <li><a href="inscription">INSCRIPTION</a></li>
        </ul>
        {%endif%}
        
        
        
    </nav>

    {%for elmt in articles %}
    <h3>
        <p><a class=title href="article/{{elmt['titre']}}">{{elmt["titre"]}}</a></p>
        <p>{{elmt["texte"]}}</p>
        <p> Posté le {{elmt["date"]}}</p>
        <p><a class=title href="article/{{elmt['titre']}}">COMMENTAIRES </a></p>

    </h3>
    {% endfor %}


</body>
{% endblock %}