{% extends "base.html" %}

{% block body %}

<body>
    <h1>HISTORI.A</h1>
    <h1 class="description">
        Bienvenue à Histori.a : blog d'articles scientifique !
    </h1>



    <nav class="container">
        {% if login %}
        
        <ul>
            <li>Bienvenue {{login[0]}}</li>
        </ul>

        {%else%}
        <ul>
            <li><a href="connexion">CONNEXION</a></li>
        </ul>
        <ul>
            <li><a href="inscription">INSCRIPTION</a></li>
        </ul>
        {%endif%}
        
        
        
    </nav>

    {%for elmt in articles %}
    <h3>
        <p><a class=title href="voir_commentaire_article/{{elmt['titre']}}">{{elmt["titre"]}}</a></p>
        <p>{{elmt["texte"]}}</p>
        <p> Posté le {{elmt["date"]}}</p>
        <p><a class=title href="voir_commentaire_article/{{elmt['titre']}}">COMMENTAIRES </a></p>

    </h3>
    {% endfor %}


</body>
{% endblock %}