{% extends "base.html" %}

{% block body %}
<h1> {{article["titre"]}}</h1>


    <h3>
        <p class=title>COMMENTAIRES :</p>     
        {%for elmt in liste_commentaire%}
        <p>{{elmt}}</p>
        
        <div class="commentaire"></div>
        <a href="modifier_commentaire_article">{{elmt[3]}}</a>
        <form action="" method="post">

            <p><a href="{{ url_for('supprimer_commentaire', nom=article['titre'],numero=elmt[3]) }}">supprimer</a></p>

        </form>        
        {% endfor %}
   
        {% if login %}
        {{login}}
        {%endif%}

        <div class="commentaire"></div>


    </h3>



</h3>

{% endblock %}