{% extends "base.html" %}

{% block body %}

<header>

    <h1>HISTORIA article</h1>
        <form action="" method="post">
            <p>{{form.article_ajout_titre.label()}}{{form.article_ajout_titre()}}</p>
            <p>{{form.article_ajout_texte.label()}}{{form.article_ajout_texte()}}</p>
            <p>{{form.submit_ajout_texte()}}</p>
            {{form.csrf_token}}            
        </form>
        <p class=title>COMMENTAIRES :</p>

        {%for elmt in article["commentaire"] %}
        <p>{{elmt["Username"]}}</p>
        <p>{{elmt["text"]}}</p>
        <p>posté le {{elmt["date"]}}</p>
        <div class="commentaire"></div>
        {% endfor %}

</header>   
{% endblock %}
