{% extends "base.html" %}

{% block body %}

<header>

    <h1>HISTORIA article</h1>
        <form action="" method="post">
            <p>{{form.article_ajout_titre.label()}}{{form.article_ajout_titre()}}</p>
            <p>{{form.article_ajout_texte.label()}}{{form.article_ajout_texte()}}</p>
            <p>{{form.submit_ajout_texte()}}</p>
            {{form.csrf_token}}            
        </form>
        {%for elmt in articles %}
        <h3>
            <p>{{elmt["titre"]}}</a> 
            <p class = "digital">{{elmt["date"]}}</p>  
            <p>{{elmt["texte"]}}</p>  

        </h3>
        {% endfor %}

</header>   
{% endblock %}
